.animated-digit {
  display: inline-flex;
  height: 70px;
  width: 170px;
  color: white;
  text-align: center;
  border-radius: 30px;
  border: 2px solid white;

  justify-content:center;
  align-items: center;

}
.countertitle{
  font-size:14pt;
}

.counterdigit{
  font-size:26pt;
}
