<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name"><a (click)="goToURL('dashboard')">COVID-19 India Tracker</a>
    </h1>&nbsp;<span style="font-size: 12px; padding-top: 8px;">{{creditsmobile}}</span>
    <div style="width:100%; font-size: 15px; text-align: right;">
      <span>{{credits}}</span>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a (click)="goToURL('dashboard')" mat-list-item>
          <mat-icon>home</mat-icon>&nbsp;Dashboard
        </a>
        <a mat-list-item (click)="goToURL('charts')">
          <mat-icon>trending_up</mat-icon>&nbsp;Covid19 Charts
        </a>
        <a mat-list-item (click)="goToURL('cases')">
          <mat-icon>loop</mat-icon>&nbsp;Daily Cumulative Data
        </a>
        <a (click)="goToURL('login')" mat-list-item>
          <mat-icon>account_box</mat-icon>&nbsp;My Account
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
