<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title color="primary">Covid19 India Charts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="chartsFormGroup">
      <table class="example-form">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Select State</mat-label>
              <mat-select formControlName="stateControl" (ngModelChange)="onStateSelect()">
                <mat-option [value]="0">
                  All
                </mat-option>
                <mat-option *ngFor="let state of states" [value]="state.stateID">
                  {{state.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>

        </tr>
      </table>
    </form>

    <div class="row">

      <div class="col-md-6">
        <google-chart style="width: 100%; min-height: 450px;" #chart [title]="title" [type]="type"
          [data]="chartFinalData" [options]="options" [columns]="columnNames">
        </google-chart>
      </div>
      <div class="col-md-6">
        <google-chart style="width: 100%; min-height: 450px;" #chart [title]="title" [type]="type"
          [data]="chartFinalData" [options]="options" [columns]="columnNames">
        </google-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
