<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title color="primary">Covid19 India Charts</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="chartsFormGroup">
      <table class="example-form">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Select State</mat-label>
              <mat-select formControlName="stateControl" (ngModelChange)="onStateSelect()">
                <mat-option [value]="0">
                  All
                </mat-option>
                <mat-option *ngFor="let state of states" [value]="state.stateID">
                  {{state.stateName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Select Report Type</mat-label>
              <mat-select formControlName="reporttypecontrol" (ngModelChange)="onReportSelect()">
                <mat-option [value]="0">
                  Daily
                </mat-option>
                <mat-option [value]="1">
                  Cummulative
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
    <div class="row">
      <div class="col-md-3">
        <div class="animated-digit" style="background: purple;">
          <span class="countertitle">TOTAL : </span>&nbsp;
          <span #animatedTotal class="counterdigit"></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="animated-digit" style="background: orange;">
          <span class="countertitle">ACTIVE : </span>&nbsp;
          <span #animatedActive class="counterdigit"></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="animated-digit" style="background: green;">
          <span class="countertitle">CURED : </span>&nbsp;
          <span #animatedCured class="counterdigit"></span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="animated-digit" style="background: red;">
          <span class="countertitle">DEATH : </span>&nbsp;
          <span #animatedDeath class="counterdigit"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <google-chart style="width: 100%; min-height: 450px;" #chart  [type]="pietype"
          [data]="chartPieData" [options]="pieoptions" [columns]="piecolumnNames">
        </google-chart>
      </div>
      <div class="col-md-6">
        <google-chart style="width: 100%; min-height: 450px;" #chart  [type]="type"
          [data]="chartTotalData" [options]="totaloptions" [columns]="totalcolumnNames">
        </google-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <google-chart style="width: 100%; min-height: 450px;" #chart  [type]="type"
          [data]="chartCuredData" [options]="curedoptions" [columns]="curedcolumnNames">
        </google-chart>
      </div>
      <div class="col-md-6">
        <google-chart style="width: 100%; min-height: 450px;" #chart [type]="type"
          [data]="chartDeathData" [options]="deathoptions" [columns]="deathcolumnNames">
        </google-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
