<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title color="primary">Covid19 India Statewise cases as of {{date | date:'dd-MMM-yyyy'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- covidID Column -->
        <ng-container matColumnDef="covidID">
          <th mat-header-cell *matHeaderCellDef> Covid ID </th>
          <td mat-cell *matCellDef="let case"> {{case.covidID}} </td>
        </ng-container>

        <!-- stateID Column -->
        <ng-container matColumnDef="stateID">
          <th mat-header-cell *matHeaderCellDef> State ID </th>
          <td mat-cell *matCellDef="let case"> {{case.stateID}} </td>
        </ng-container>

        <!-- stateName Column -->
        <ng-container matColumnDef="stateName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name of State/UT</th>
          <td mat-cell *matCellDef="let case"> {{case.stateName}} </td>
          <td mat-footer-cell *matFooterCellDef> Total Cases</td>
        </ng-container>

        <!-- caseCount Column -->
        <ng-container matColumnDef="caseCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cases </th>
          <td mat-cell *matCellDef="let case"> {{case.caseCount}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCases(1)}} </td>
        </ng-container>

        <!-- cured Column -->
        <ng-container matColumnDef="cured">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cured </th>
          <td mat-cell *matCellDef="let case"> {{case.cured}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCases(2)}} </td>
        </ng-container>

        <!-- death Column -->
        <ng-container matColumnDef="death">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Death </th>
          <td mat-cell *matCellDef="let case"> {{case.death}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCases(3)}} </td>
        </ng-container>

        <!-- caseDate Column -->
        <ng-container matColumnDef="caseDate">
          <th mat-header-cell *matHeaderCellDef> Case Date </th>
          <td mat-cell *matCellDef="let case"> {{case.caseDate}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
    </div>
    <div>

    </div>
  </mat-card-content>
</mat-card>
