.example-card {
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.example-form {
  width: 100%;
}

.example-container {
  height: 400px;
  overflow: auto;
}
table {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
